<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="card">
        <div class="card-header py-3">
          <h4 class="my-0">Lista Pokémon</h4>
        </div>
        <div class="card-body">
          <!--INPUT WITH AUTOCOMPLETE-->
          <div>
            <label>Buscar Pokémon</label> <br>
            <input type="text" class="form-control my-3" 
            [(ngModel)]="searchInput" 
            (keyup)="searchPokemon()">
            <ol class="list-group mt-2 mb-5" *ngIf="resultFilter.length > 0">
              <li class="list-group-item result" 
              *ngFor="let item of resultFilter | slice:0:3" (click)="selectPokemon(item.url)"
              >{{ item.name }}</li>
            </ol>
          </div>
          <!--LIST WITH PAGINATION-->
          <ol class="list-group list-group-flush">
            <li *ngFor="let item of pokemons | paginate: { itemsPerPage: 10, currentPage: page }" 
            class="list-group-item d-flex justify-content-between align-items-start py-3">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ item.name | uppercase }}</div>
              </div>
              <button class="btn btn-primary" (click)="selectPokemon(item.url)">Ver Información</button>
            </li>
          </ol>
          <pagination-controls 
          (pageChange)="page = $event" 
          class="w-100 d-flex justify-content-center my-3" 
          previousLabel="Atrás"
          nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 d-flex align-items-center justify-content-center border rounded mt-5 mt-md-0 p-2">
      <h2 *ngIf="!currentPokemon && !isLoadingPokemon" class="text-center">No ha seleccionado un pokémon</h2>
      <div class="spinner-border text-primary" role="status" *ngIf="isLoadingPokemon">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <div *ngIf="currentPokemon && !isLoadingPokemon" class="d-flex flex-column align-items-center">
        <!--IMAGES (POKEMON AND NOT FOUND)-->
        <img *ngIf="currentPokemon.sprites.other.home.front_default" 
        [src]="currentPokemon.sprites.other.home.front_default" 
        width="230" 
        height="200">
        <img *ngIf="!currentPokemon.sprites.other.home.front_default" 
        src="https://cdn2.iconfinder.com/data/icons/documents-and-files-v-2/100/doc-03-512.png" 
        width="230" 
        height="200">

        <h1 class="text-center mt-4 mb-5">{{ currentPokemon.name | titlecase }}</h1>

        <!--POKEMON DETAILS-->
        <div class="row px-5 mb-4">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-7">Type</li>
            <li class="list-group-item col-5 text-center">{{ currentPokemon.types[0].type.name }}</li>
          </ul>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-7">Weight</li>
            <li class="list-group-item col-5 text-center">{{ currentPokemon.weight }}</li>
          </ul>
          <ul class="list-group list-group-horizontal w-100">
            <li class="list-group-item col-7">Movements</li>
            <li class="list-group-item col-5 text-center">{{ currentPokemon.moves.length }}</li>
          </ul>
          <ul class="list-group list-group-horizontal w-100" *ngFor="let item of currentPokemon.stats">
            <li class="list-group-item col-7">{{ item.stat.name | titlecase }}</li>
            <li class="list-group-item col-5 text-center">{{ item.base_stat }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--POKEMON COUNT BY LETTER-->
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header py-3">
          <h4 class="my-0">Número de Pokémons por letra</h4>
        </div>
        <div class="card-body">
          <div class="row px-5">
            <ul class="list-group list-group-horizontal w-100" *ngFor="let letter of 'abcdefghijklmnñopqrstuvwxyz'.split('')">
              <li class="list-group-item col-6 text-center">{{ letter | uppercase }}</li>
              <li class="list-group-item col-6 text-center">{{ pokemons | countByLetter: letter }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>